/*  Start of Mentor Dashboard  */

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: white;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

#grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: none;
}

/* End Header  */


/* Sidebar  */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #6f7584;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 0px 10px;
  margin-bottom: 30px;
}

.sidebar-title>span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  color: #ffffff;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

@media screen and (max-width: 992px) {
  #grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .close_icon {
    display: inline;
  }

  .sidebar-title>span {
    display: inline;
  }
}

/* End Sidebar  */

/* Mentordash.jsx */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  /* color: rgba(0, 0, 0, 0.95); */
}

#mentordisplay {
  margin: 2dvh auto;
}

#card-container {
  display: flex;
  justify-content: center;
  padding: 0;
}

.mcard {
  width: 100%;
  max-width: 345px;
  height: 300px;
  margin: 2% auto;
  transition: transform 0.3s ease;
}

.mcard:hover {
  transform: scale(1.05);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

/* Media query for small screens */
@media screen and (max-width: lg) {
  #card-container {
    flex-direction: column;
  }

  .card {
    max-width: 100%;
  }
}

/* End Mentordash.jsx */


/* Viewtopics.jsx and Projectsubmission.jsx */

.sub {
  padding: 0;
  justify-content: center;
}

.selection-container {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.selection-label {
  margin-right: 10px;
  /* Adjust the margin as needed */
}

#selection {
  width: 200px;
}

.table-container {
  width: 100%;
  margin-top: 100px;
}

.mentor-table {
  border-collapse: collapse;
  border: 1px solid #707677;
  margin-top: 30px;
}

.table-cell {
  border: 1px solid #4bd4ec;
  /*Add border to cells*/
  padding: 8px;
  /* Add padding to cells */
  text-align: left;
  /* Adjust text alignment as needed */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#submit {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  background-color: rgb(131, 163, 224);
}

#submit:hover {
  background-color: rgb(255, 17, 0);
  color: white;
}

.action-button {
  margin-right: 4px;
  /* Adjust margin between buttons */
}

.mentor-table th {
  background-color: #51c4d8;
  /* Background color for table head */
  color: white;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.mentor-table tbody tr:hover {
  background-color: #def1f8;
  /* Background color on hover */
}

.mentor-table td .icon {
  margin-right: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .mentor-table {
    overflow-x: auto;
    display: block;
  }

  #submit:hover {
    background-color: rgb(255, 17, 0);
    color: white;
  }
}

/*  End Viewtopic.jsx and Projectsubmission.jsx */


/*  Evaluate.jsx  */

.contents {
  display: block;
}

.typo>#data {
  font-family: cursive;
}

#pro {
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#proform {
  margin-top: 10px;
  width: 70%;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

#prohead {
  color: black;
  font-size: x-large;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 8px;
}

.textfields {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
  margin-left: 50px;
  width: 80%
}

@media screen and (max-width: 600px) {
  .typo {
    /* width:100%; */
    overflow: auto;
  }

  #proform {
    width: 100%;
  }
}

/*  End Evaluate.jsx  */